@import "./assets/font/fonts.css";
@import "./assets/icons/flaticon.css";


body {
  margin: 0;
  font-family: Vazir;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 5%;
  align-items: center;
  position: fixed;
  width: 90%;
  border-bottom: 1px solid #0087E0;
}

.header-right-side {
  display: flex;
  flex-direction: row-reverse;
}

.header-menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-menu-item {
  margin-left: 20px;
  color: #0087E0;
  text-decoration: none;
}

.header-logo {
  height: 50px;
  width: 50px;
  margin-left: 40px;
}

.header-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-left-side i {
  color: #FF595E;
  margin-right: 10px;
  font-size: 20px;
  display: flex;
}

.header-left-side-text {
  color: #FF595E;
}

.footer {
  background-color: #1A4C89;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 25px;
  color: white;
}

.footer-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.footer-right i {
  margin-left: 10px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.social-icon-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.social-icon-wrapper i {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.exit-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,.5);
  z-index: 50000;
}

.exit-modal {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 50%;
  margin: 25%;
  padding: 20px;
}

.exit-modal-question {
  direction: rtl;
  font-size: 20px;
  font-weight: bold;
}

.exit-modal-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  
}

.exit-modal-confirm-btn {
  margin-right: 20px;
  background-color: #06D6A0;
  color: white;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.exit-modal-cancel-btn {
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
