@import "../main-style.css";


.middle {
  padding-top: 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.middle-content {
  width: 90%;
}

.schedule {
  border: 1px solid #1FA5FF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.schedule-header {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #1FA5FF;
}

.schedule-header-left {
  color: dimgrey;
  font-size: smaller;
}

.schedule-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-header-right i {
  color: #0087E0;
  font-size: 20px;
  margin-left: 10px;
}

.schedule-header-right div {
  color: dimgrey;
  font-size: smaller;
}

.schedule-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.schedule-cell {
  color: dimgrey;
  width: 14.285714286%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  height: 60px;
  flex-wrap: wrap;
}

.lesson {
  width: 90%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-red {
  background-color: rgba(255, 89, 94, .4);
  border-right: 5px solid #ff595e;
}

.color-yellow {
  background-color: rgba(237, 187, 65, .4);
  border-right: 5px solid #edbb41;
}

.color-blue {
  background-color: rgba(31, 165, 255, .4);
  border-right: 5px solid #1fa5ff;
}

.color-green {
  background-color: rgba(40, 167, 69, .4);
  border-right: 5px solid #28a745;
}

.length-1 {
  height: 60px;
}

.length-1-5 {
  height: 90px;
}

.length-2 {
  height: 120px;
}

.length-2-5 {
  height: 150px;
}

.length-3 {
  height: 180px;
}

.normal-start {
  margin-top: 0;
}

.halfway-start {
  margin-top: 30px;
}

.lesson-info-row {
  width: 100%;
  direction: rtl;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


