@import "../main-style.css";


.middle {
  padding-top: 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.middle-content {
  width: 80%;
}

.table-wrapper {
  border: 1px solid #1FA5FF;
  border-radius: 8px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin-bottom: 50px;
}

.table-title {
  background-color: #1FA5FF;
  border-radius: 8px;
  align-content: center;
  text-align: center;
  padding: 5px 10px;
  width: 120px;
  color: white;
  margin-top: -18px;
  margin-right: 20px;
  align-self: flex-start;
  margin-bottom: 20px;
  font-weight: bold;
}

.table-rows-container {
  max-height: 230px;
  overflow: scroll;
}

.table-row {
  width: 94%;
  display: flex;
  flex-direction: row;
  border: 1px solid dimgrey;
  border-bottom: 0;
  height: 40px;
  align-items: center;
  margin: 0 3%;
}


.table-cell {
  height: 100%;
  border-right: 1px solid #1FA5FF;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: dimgrey;
}

.cell-delete {
  width: 8%;
  color: #FF595E;
}

.cell-delete i {
  font-size: 30px;
  cursor: pointer;
}

.cell-status {
  width: 24%;
}

.status-value {
  border-radius: 4px;
  font-weight: bold;
  margin: 5px 10%;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.status-submitted {
  color: #28A745;
  border: 1px solid #28A745;
}

.status-not-final {
  color: #0087E0;
  border: 1px solid #0087E0;
}

.status-waiting {
  color: dimgrey;
  border: 1px solid dimgrey;
}

.cell-code {
  width: 10%;
}

.cell-name {
  width: 30%;
}

.cell-teacher {
  width: 20%;
}

.cell-units {
  width: 8%;
  font-weight: bold;
  color: #1A4C89;
}

.cell-title {
  font-weight: bold;
  color: #1A4C89;
}


.table-footer {
  border-top: 1px solid #1FA5FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
}

.submitted-units-count {
  font-weight: bold;
  color: #1A4C89;
}

.footer-buttons {
  display: flex;
  flex-direction: row;
}

.footer-refresh-btn {
  background-color: lightgray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-refresh-btn i {
  color: white;
  font-size: 20px;
}

.footer-submit-btn {
  color: white;
  background-color: #06D6A0;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  cursor: pointer;
}

.course-type-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px 30px 10px;
  border-bottom: 1px solid #0087E0;
}

.course-type-item {
  font-weight: bold;
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 40px;
  color: dimgrey;
  border: 1px solid dimgrey;
  cursor: pointer;
}

.selected-item {
  border: none;
  background-color: rgba(31, 165, 255, .5);
}

.available-courses-table-titles {
  border-bottom: 1px solid #0087E0;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
}

.available-courses .title {
  font-weight: bold;
  color: #1A4C89;
  display: flex;
  justify-content: center;
  align-items: center;
}

.available-courses {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.available-courses .action {
  width: 5%;
}

.available-courses .action i {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.available-courses .action .flaticon-add {
  background-color: #28A745;
  cursor: pointer;
}

.available-courses .action .flaticon-clock-circular-outline {
  background-color: lightgray;
}

.available-courses .code {
  width: 10%;
}

.available-courses .capacity {
  width: 5%;
  font-weight: bold;
  color: #1A4C89;
}

.available-courses .full {
  width: 5%;
  font-weight: bold;
  color: grey;
}

.available-courses .type {
  width: 10%;
}

.available-courses .type-value {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.available-courses .type-general {
  background-color: #EDBB41;
}

.available-courses .type-main {
  background-color: #06D6A0;
}

.available-courses .type-base {
  background-color: #FF595E;
}

.available-courses .type-specialty {
  background-color: #1FA5FF;
}

.available-courses .name {
  width: 30%;
}

.available-courses .teacher {
  width: 20%;
}

.available-courses .units {
  width: 5%;
  font-weight: bold;
  color: #1A4C89;
}

.available-courses .description {
  width: 15%;
}

.available-courses .table-row {
  margin: 0;
  width: 100%;
  border: 0;
}

.available-courses .table-cell {
  border: 1px solid grey;
  border-top: 0;
  border-right: 0;
}

.search-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.search-wrapper {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 10px 2%;
  width: 40%;
}

.search-input {
  background-color: #E8E8E8;
  color: gray;
  border: 2px solid lightgray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  margin-left: 2%;
  font-size: 20px;
  width: 70%;
}

.search-btn {
  background-color: #06D6A0;
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 30%;
}

.search-btn div {
  color: white;
  font-weight: bold;
}

.search-btn i {
  color: white;
  font-size: 20px;
}